<nav class="nav--container">
  <div class="nav--wrapper">
    <div class="nav--wrapper-logo">
      <h4>Credit Scorer</h4>
    </div>
    <div class="nav--wrapper-container">
      <div class="nav--wrapper-links">
        <ul class="links-ul">
          <li class="ul-item"><a href="{{ url_for('index') }}">Home</a></li>
          {% if session['username'] %}
          <li class="ul-item"><a href="{{ url_for('score') }}">Score</a></li>
          {% endif %}
          <li class="ul-item"><a href="http://">Information</a></li>
        </ul>
      </div>
      {% if session['username'] %}
      <a href="{{ url_for('logout') }}" class="btn login">logout</a>
      {% else %}
      <a href="{{ url_for('login') }}" class="btn login">login</a>
      {% endif %}
    </div>
  </div>
</nav>
