@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,400,500,600,700,800&display=swap");
:root {
  --primary-color: #1b2cc1;
  --grey-color: #c4c4c4;
  --dark-color: #000000;
  --white-color: #ffffff;
  --primary-font: "Poppins";
  --heading-font: "Lora";
  --box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 15.5px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font), serif;
}

p {
  font-family: var(--primary-font), sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  padding: 0;
}

.form-control {
  border-radius: 3px !important;
  height: 3rem !important;
  border: 1px solid #eeeeee;
}

.form-control:focus {
  outline: none !important;
}

.home--container {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: var(--white-color);
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.home--container > .colored--div {
  max-height: 80vh;
  padding: 0;
  width: 60vw;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  margin-left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.home--container > .colored--div > img {
  width: 100%;
  height: 100%;
}

.home--container > .home--content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.home--container > .home--content .home--content-about {
  height: 70vh;
  width: 40%;
  color: var(--white-color);
  padding: 2rem;
  margin: 2rem 0;
}

.home--container > .home--content .home--content-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home--container > .home--content .home--content-svg > img {
  width: 400px;
  height: 400px;
}

.home--container > .home--content .home--content-svg .login {
  background: var(--primary-color);
  width: 20rem;
  height: 3.5rem;
  border-radius: 5px;
  padding: 15px;
  color: var(--white-color);
}

.home--container > .home--content .home--content-svg .login:hover {
  text-decoration: none;
  color: var(--white-color);
}

.score {
  padding: 10px;
}

.score > .score--container {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  height: auto;
  margin-top: 0.5rem;
}

.score > .score--container .score--svg {
  width: 35vw;
  height: 60vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.score > .score--container .score--svg > img {
  height: 100%;
  width: 100%;
}

.score > .score--container .score--svg-par {
  font-size: 0.9rem;
  font-family: var(--primary-font);
  padding: 5px;
}

.score > .score--container .score--form {
  width: 65vh;
  padding: 10px;
  height: auto;
  margin-top: 1rem;
}

.score > .score--container .score--form > form {
  padding: 5px;
}

.score > .score--container .score--form > form > h4 {
  color: var(--dark-color);
  font-size: 1.3rem;
  font-weight: 600;
  font-family: var(--primary-font);
}

.score > .score--container .score--form > form > .form-group {
  margin: 3px 0;
}

.score > .score--container .score--form > form > .form-group > label {
  font-family: var(--primary-font);
  color: #555;
  margin: 10px 0;
  font-size: 0.9rem;
}

.score > .score--container .score--form > form > .form-group > .form-control {
  border-radius: 3px !important;
  height: 3rem !important;
  border: 1px solid #eeeeee;
}

.score > .score--container .score--form > form > .form-group > .form-control:focus {
  outline: none !important;
}

.score > .score--container .score--form > form > .form-group > .form-control::-webkit-input-placeholder {
  font-size: 0.8rem;
  font-family: var(--primary-font);
  color: #cccccc;
  margin-left: 10px;
}

.score > .score--container .score--form > form > .form-group > .form-control:-ms-input-placeholder {
  font-size: 0.8rem;
  font-family: var(--primary-font);
  color: #cccccc;
  margin-left: 10px;
}

.score > .score--container .score--form > form > .form-group > .form-control::-ms-input-placeholder {
  font-size: 0.8rem;
  font-family: var(--primary-font);
  color: #cccccc;
  margin-left: 10px;
}

.score > .score--container .score--form > form > .form-group > .form-control::placeholder {
  font-size: 0.8rem;
  font-family: var(--primary-font);
  color: #cccccc;
  margin-left: 10px;
}

.score > .score--container .score--form > form > .button > .score-btn {
  height: 3rem;
  border-radius: 3px;
  background: var(--primary-color);
  margin: 10px 0;
}

.nav--container {
  height: 5rem;
  width: 100%;
  background: var(--white-color);
  position: fixed;
  z-index: 200;
  border-bottom: 0.5px solid #eeeeee;
}

.nav--container > .nav--wrapper {
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav--container > .nav--wrapper .nav--wrapper-logo {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-left: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.nav--container > .nav--wrapper .nav--wrapper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 2rem;
}

.nav--container > .nav--wrapper .nav--wrapper-container .nav--wrapper-links > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

.nav--container > .nav--wrapper .nav--wrapper-container .nav--wrapper-links > ul > li {
  margin: 0 1rem;
}

.nav--container > .nav--wrapper .nav--wrapper-container .nav--wrapper-links > ul > li > a {
  text-decoration: none;
  color: var(--dark-color);
  font-size: 0.9rem;
}

.nav--container > .nav--wrapper .nav--wrapper-container .login {
  background: var(--primary-color);
  width: 7rem;
  height: 3rem;
  border-radius: 5px;
  padding: 10px;
  color: var(--white-color);
}

.form--container {
  width: 40%;
  margin: 0 30%;
  padding: 20px;
}

.form--container > form {
  margin: 4.5rem 0;
  padding: 10px;
}

.form--container > form > h4 {
  color: var(--dark-color);
  font-size: 1.7rem;
  font-weight: 600;
  font-family: var(--primary-font);
}

.form--container > form > .form-group {
  margin: 5px 0;
}

.form--container > form > .form-group > label {
  font-family: var(--primary-font);
  color: #555;
  margin: 10px 0;
}

.form--container > form > .form-group > .form-control {
  border-radius: 3px !important;
  height: 3rem !important;
  border: 1px solid #eeeeee;
}

.form--container > form > .form-group > .form-control:focus {
  outline: none !important;
}

.form--container > form > .form-group > .form-control::-webkit-input-placeholder {
  font-size: 0.8rem;
  font-family: var(--primary-font);
  color: #cccccc;
  margin-left: 10px;
}

.form--container > form > .form-group > .form-control:-ms-input-placeholder {
  font-size: 0.8rem;
  font-family: var(--primary-font);
  color: #cccccc;
  margin-left: 10px;
}

.form--container > form > .form-group > .form-control::-ms-input-placeholder {
  font-size: 0.8rem;
  font-family: var(--primary-font);
  color: #cccccc;
  margin-left: 10px;
}

.form--container > form > .form-group > .form-control::placeholder {
  font-size: 0.8rem;
  font-family: var(--primary-font);
  color: #cccccc;
  margin-left: 10px;
}

.form--container > form > .button > .login-btn {
  height: 3rem;
  border-radius: 3px;
  background: var(--primary-color);
  margin: 10px 0;
}

.form--container > form > p {
  font-size: 0.95rem;
  margin: 10px 0;
}

.form--container {
  width: 40%;
  margin: 0 30%;
  padding: 20px;
}

.form--container > form {
  margin: 4.5rem 0;
  padding: 10px;
}

.form--container > form > h4 {
  color: var(--dark-color);
  font-size: 1.7rem;
  font-weight: 600;
  font-family: var(--primary-font);
}

.form--container > form > .form-group {
  margin: 5px 0;
}

.form--container > form > .form-group > label {
  font-family: var(--primary-font);
  color: #555;
  margin: 10px 0;
}

.form--container > form > .form-group > .form-control {
  border-radius: 3px !important;
  height: 3rem !important;
  border: 1px solid #eeeeee;
}

.form--container > form > .form-group > .form-control:focus {
  outline: none !important;
}

.form--container > form > .form-group > .form-control::-webkit-input-placeholder {
  font-size: 0.8rem;
  font-family: var(--primary-font);
  color: #cccccc;
  margin-left: 10px;
}

.form--container > form > .form-group > .form-control:-ms-input-placeholder {
  font-size: 0.8rem;
  font-family: var(--primary-font);
  color: #cccccc;
  margin-left: 10px;
}

.form--container > form > .form-group > .form-control::-ms-input-placeholder {
  font-size: 0.8rem;
  font-family: var(--primary-font);
  color: #cccccc;
  margin-left: 10px;
}

.form--container > form > .form-group > .form-control::placeholder {
  font-size: 0.8rem;
  font-family: var(--primary-font);
  color: #cccccc;
  margin-left: 10px;
}

.form--container > form > .button > .register-btn {
  height: 3rem;
  border-radius: 3px;
  background: var(--primary-color);
  margin: 10px 0;
}

.form--container > form > p {
  font-size: 0.95rem;
  margin: 10px 0;
}
/*# sourceMappingURL=main.css.map */