.score {
  padding: 10px;

  & > .score--container {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: auto;
    margin-top: 0.5rem;

    .score--svg {
      width: 35vw;
      height: 60vh;
      object-fit: contain;

      & > img {
        height: 100%;
        width: 100%;
      }
      &-par {
        font-size: 0.9rem;
        font-family: var(--primary-font);
        padding: 5px;
      }
    }

    .score--form {
      width: 65vh;
      padding: 10px;
      height: auto;
      margin-top: 1rem;

      & > form {
        padding: 5px;

        & > h4 {
          color: var(--dark-color);
          font-size: 1.3rem;
          font-weight: 600;
          font-family: var(--primary-font);
        }

        & > .form-group {
          margin: 3px 0;
          & > label {
            font-family: var(--primary-font);
            color: #555;
            margin: 10px 0;
            font-size: 0.9rem;
          }
          & > .form-control {
            border-radius: 3px !important;
            height: 3rem !important;
            border: 1px solid #eeeeee;

            &:focus {
              outline: none !important;
            }
            &::placeholder {
              font-size: 0.8rem;
              font-family: var(--primary-font);
              color: #cccccc;
              margin-left: 10px;
            }
          }
        }
        & > .button {
          & > .score-btn {
            height: 3rem;
            border-radius: 3px;
            background: var(--primary-color);
            margin: 10px 0;
          }
        }
      }
    }
  }
}
