.form--container {
  width: 40%;
  margin: 0 30%;
  padding: 20px;

  & > form {
    margin: 0;
    padding: 10px;

    & > h4 {
      color: var(--dark-color);
      font-size: 1.7rem;
      font-weight: 600;
      font-family: var(--primary-font);
    }

    & > .form-group {
      margin: 5px 0;
      & > label {
        font-family: var(--primary-font);
        color: #555;
        margin: 10px 0;
      }
      & > .form-control {
        border-radius: 3px !important;
        height: 3rem !important;
        border: 1px solid #d2d2d2;

        &:focus {
          outline: none !important;
        }
        &::placeholder {
          font-size: 0.8rem;
          font-family: var(--primary-font);
          color: #cccccc;
          margin-left: 10px;
        }
      }
    }
    & > .button {
      & > .register-btn {
        height: 3rem;
        border-radius: 3px;
        background: var(--primary-color);
        margin: 10px 0;
      }
    }

    & > p {
      font-size: 0.95rem;
      margin: 10px 0;
    }
  }
}
