{% extends 'layouts.html' %} {% block body%}
<div class="container-fluid">
  <div class="accounts--container">
    <aside class="side--bar">
      <div class="account--info">
        <h3 class="account--info-name">
          <i class="fas fa-user"></i>{{ session.name }}
        </h3>
        <h6 class="account--info-email">
          <i class="fas fa-envelope"></i>{{ session.email }}
        </h6>
        <h5 class="account--info-id"></h5>
      </div>
    </aside>

    <main class="main--bar">
      <div class="container">
        <h4>
          Hello {{ session.name }}, this is where you will find your information
        </h4>
        <div class="card mt-3" style="padding: 20px;">
          <h4 style="font-weight: bold; font-family: 'Poppins';">
            Most recent creditscore
          </h4>
          <hr />
          <p>latest credit score : {{ output["score"] }}</p>
        </div>
        <div class="card mt-3" style="padding: 20px;">
          <h4 style="font-weight: bold; font-family: 'Poppins';">
            Data used to calculate the score
          </h4>
          <div class="container">
            <ul class="list-group">
              <li class="list-group-item">
                <span>Loan amount : </span>{{ output["loan"] }}
              </li>
              <li class="list-group-item">
                <span>Funded amount : </span>{{ output["funded"] }}
              </li>
              <li class="list-group-item">
                <span>Interest : </span>{{ output["interest"] }} %
              </li>
              <li class="list-group-item">
                <span>Annual Income : </span>{{ output["income"] }}
              </li>
              <li class="list-group-item">
                <span>Purpose : </span>{{ output["Purpose"] }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
{% endblock body%}
