{% extends 'layouts.html' %} {% block header%} {% endblock header %} {% block
body %}
<div class="home--container">
  <div class="colored--div">
    <img
      src="{{url_for('static', filename = 'images/Vector.svg')}}"
      alt="Vector"
    />
  </div>

  <div class="home--content">
    <div class="home--content-about">
      <h3>Get your score and manage your finances</h3>
      <br />
      <p>
        Credit.Ke will predict a score for you when you want to get credit such
        as loans. We predict your score and use the score to recommend to you
        available loans and also the best interest rates you can be provided
        with you score. The higher your score the better the recommendations.
      </p>
    </div>
    <div class="home--content-svg">
      <img
        src="{{url_for('static', filename = 'images/rain.svg')}}"
        alt="score"
      />
      {% if session.logged_in %}
      <a href="{{ url_for('api.score') }}" class="btn login">Get your score</a>
      {% else %} {% endif %}
    </div>
  </div>
</div>

{% endblock body %}
