{% extends 'layouts.html' %} {% block header%} {% endblock header %} {% block
body %}
<div class="home--container">
  <div class="colored--div">
    <img
      src="{{url_for('static', filename = 'images/Vector.svg')}}"
      alt="Vector"
    />
  </div>

  <div class="home--content">
    <div class="home--content-about">
      <h3>Get Your Score Plan Your Future</h3>
      <br />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. At quaerat,
        pariatur cum eum blanditiis autem deleniti recusandae labore quibusdam
        expedita nemo molestias quasi nobis dolorem fuga, quidem, dolor corporis
        voluptates quis eligendi rem temporibus quia quos! Assumenda eveniet
        quisquam blanditiis.
      </p>
    </div>
    <div class="home--content-svg">
      <img
        src="{{url_for('static', filename = 'images/score.svg')}}"
        alt="score"
      />
      {% if session.logged_in %}
      <a href="{{ url_for('api.score') }}" class="btn login">Get your score</a>
      {% else %}
      <a href="{{ url_for('api.login') }}" class="btn login">login</a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock body %}
