{% include 'layouts.html' %} {% block body %}

<div class="info--container mt-4">
  <div class="card mb-3" style="color: var(--dark-color);padding:20px;">
    <h4>How it works</h4>
    <hr />
    <p></p>
  </div>

  <div class="card mb-3" style="color: var(--dark-color);padding:20px;">
    <h4>Who will use it</h4>
    <hr />
    <p></p>
  </div>

  <div class="card mb-3" style="color: var(--dark-color);padding:20px;">
    <h4>Benefits of the system</h4>
    <hr />
    <p></p>
  </div>
</div>

{% endblock body %}
