{% extends 'layouts.html' %} {% block body %}
<div class="score">
  <div class="score--container">
    <div class="score--svg">
      <img
        src="{{url_for('static', filename = 'images/score.svg')}}"
        alt="svg"
      />

      <p class="score--svg-par">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit libero
        minima voluptatibus, earum suscipit animi dolore magni adipisci? Itaque
        explicabo ut quo eum, magnam cum assumenda cupiditate corporis facilis
        fuga corrupti ipsum maxime modi, accusantium voluptatum quaerat expedita
        atque! Accusamus repudiandae et cumque eaque saepe iste hic, nisi dicta
        voluptate!
      </p>
    </div>
    <div class="score--form">
      <form
        action="{{ url_for('api.score') }}"
        method="POST"
        onsubmit="handleSubmit()"
      >
        <h4>Enter your loan details to calculate score</h4>
        <!--loan amount-->
        <div class="form-group">
          <label for="loanamount">Loan amount</label>
          <input
            type="text"
            class="form-control"
            id="loanamount"
            placeholder="0"
            name="loanamount"
            required
          />
        </div>
        <!--funded amount-->
        <div class="form-group">
          <label for="fundedamount">Funded amount</label>
          <input
            type="text"
            class="form-control"
            id="fundedamount"
            placeholder="0"
            name="funded"
            required
          />
        </div>
        <!--Installment-->
        <div class="form-group">
          <label for="installment">Installment</label>
          <input
            type="text"
            class="form-control"
            id="installment"
            placeholder="0"
            name="installment"
            required
          />
        </div>
        <!--Interest rate-->
        <div class="form-group">
          <label for="installment">Interest Rate (0 - 25%)</label>
          <input
            type="text"
            class="form-control"
            id="interest"
            placeholder="0"
            name="interest"
            required
          />
        </div>
        <!--Term-->
        <div class="form-group">
          <label for="term">Term (months)</label>
          <select
            class="custom-select form-control"
            id="term"
            name="term"
            required
          >
            <option selected>Choose...</option>
            <option value="36">36</option>
            <option value="60">60</option>
          </select>
        </div>
        <!--employment length-->
        <div class="form-group">
          <label for="employment">Employment length (years)</label>
          <select
            class="custom-select form-control"
            id="employment"
            name="employment"
            required
          >
            <option selected>Choose...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        <!-- home -->
        <div class="form-group">
          <label for="home">Home </label>
          <select
            class="custom-select form-control"
            id="home"
            name="home"
            required
          >
            <option selected>Choose...</option>
            <option value="OWN">OWN</option>
            <option value="RENT">RENT</option>
            <option value="MORTGAGE">MORTGAGE</option>
          </select>
        </div>
        <!-- annual income-->
        <div class="form-group">
          <label for="income">Annual income</label>
          <input
            type="text"
            class="form-control"
            id="income"
            placeholder="0"
            name="income"
            required
          />
        </div>
        <!-- purpose-->
        <div class="form-group">
          <label for="purpose">Purpose</label>
          <select
            name="purpose"
            id="purpose"
            class="form-control"
            name="purpose"
            required
          >
            <option selected>choose...</option>
            <option>small_business</option>
            <option>major_purchase</option>
            <option>car</option>
            <option>credit_card</option>
            <option>medical</option>
            <option>other</option>
          </select>
        </div>
        <div class="button">
          <button type="submit" class="btn btn-primary btn-block score-btn">
            Submit
            <span
              id="score-spinner"
              style="visibility: hidden"
              class="spinner-border spinner-border-sm"
            ></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--script-->
<script>
  function handleSubmit(e) {
    loginButton = document.getElementById("score--btn");
    loginButton.classList.add("disabled");
    spinner = document.getElementById("score-spinner").style.visibility =
      "visible";
  }
</script>
{% endblock body%}
