{% extends 'layouts.html' %} {% block body %}
<div class="score">
  <div class="score--container">
    <div class="score--svg">
      <img
        src="{{url_for('static', filename = 'images/score.svg')}}"
        alt="svg"
      />

      <p class="score--svg-par">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit libero
        minima voluptatibus, earum suscipit animi dolore magni adipisci? Itaque
        explicabo ut quo eum, magnam cum assumenda cupiditate corporis facilis
        fuga corrupti ipsum maxime modi, accusantium voluptatum quaerat expedita
        atque! Accusamus repudiandae et cumque eaque saepe iste hic, nisi dicta
        voluptate!
      </p>
    </div>
    <div class="score--form">
      <form action="POST">
        <h4>Please enter your details</h4>
        <div class="form-group">
          <label for="id">ID</label>
          <input type="number" class="form-control" id="id" placeholder="ID" />
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input
            type="number"
            class="form-control"
            id="age"
            placeholder="age"
          />
        </div>
        <br />

        <h4>Enter your loan details</h4>

        <div class="form-group">
          <label for="loanamount">Loan amount</label>
          <input
            type="number"
            class="form-control"
            id="loanamount"
            placeholder="0"
          />
        </div>
        <div class="form-group">
          <label for="fundedamount">Funded amount</label>
          <input
            type="number"
            class="form-control"
            id="fundedamount"
            placeholder="0"
          />
        </div>
        <div class="form-group">
          <label for="duration">Duration (months)</label>
          <input
            type="number"
            class="form-control"
            id="duration"
            placeholder="0"
          />
        </div>
        <div class="form-group">
          <label for="interest">Interest rates ( 0 - 20%)</label>
          <input
            type="number"
            class="form-control"
            id="interest"
            placeholder="0"
          />
        </div>
        <div class="form-group">
          <label for="installmentamount">Installment amount</label>
          <input
            type="number"
            class="form-control"
            id="installmentamount"
            placeholder="0"
          />
        </div>
        <div class="form-group">
          <label for="employment">Employment Length (years) </label>
          <input
            type="number"
            class="form-control"
            id="employment"
            placeholder="0"
          />
        </div>
        <div class="form-group">
          <label for="income">Annual income</label>
          <input
            type="number"
            class="form-control"
            id="income"
            placeholder="0"
          />
        </div>
        <div class="form-group">
          <label for="purpose">Purpose</label>
          <select name="purpose" id="purpose" class="form-control">
            <option selected>Fees</option>
            <option>Purchase</option>
            <option>Business</option>
            <option>Other</option>
          </select>
        </div>
        <div class="button">
          <button type="submit" class="btn btn-primary btn-block score-btn">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body%}
